

.hero
  .container
    .row
      .col-md-12
        .topnav
          .link HOME
          .link ABOUT
          .link FEATURES
          .link SUPPORT
        
    .row
      .col-md-6
        .logo 
          | Noteman
          <br>
          i.fa.fa-smile-o
      .col-md-4
        .cta
          .description 
            | Take Notes. <br>
            | Find Notes. <br>
            | Save Time.
        
          button.login(
            ng-click="loginWithFacebook()"
          )
            i.fa.fa-facebook
            .text Sign in with Facebook
            
.container.features
  .row
    .col-md-4
      .bullet
        i.fa.fa-key
        h1 Encrypted
        span Noteman encrypts your notes before hitting our servers.  You hold the key.
    .col-md-4
      .bullet
        i.fa.fa-calendar
        h1 Calendar
        span View your time based notes in a calendar
        
    .col-md-4
      .bullet
        i.fa.fa-line-chart
        h1 Analyics
        span We'll create analytics using your notes
    
  .row.mt4
    .col-md-4
      .bullet
        i.fa.fa-tags
        h1 Tags
        span Taging notes is easy for grouping them how you'd like them
    
    .col-md-4
      .bullet
        i.fa.fa-bookmark
        h1 Topics
        span Group your notes into tree based topics for better organization
    
    .col-md-4
      .bullet
        i.fa.fa-search
        h1 Search
        span Use our powerful search tool for find the note you need instantly
      
    
      
