.card
  border-bottom: 1px solid #DDD
  padding: 2px
  cursor: pointer
  font-size: 18px

.card:hover
  color: orange
  background-color: #eee

.content
  padding: 20px

.crum
  display: inline-block
  font-size: 24px
  font-weight: bold

.crum .word
  cursor: pointer
  display: inline-block

.crum .word:hover
  color: blue

.note
  background-color: #eee
  min-height: 200px
  cursor: pointer
  
.note:hover
  border: 1px dashed black
  background-color: #ddd

.notearea
  width: 100%
  min-height: 300px
